<aside class="sidebar">
  <div class="sidebar-top">
    <button class="menu-toggle" id="menuToggle" type="button">☰</button>
    <span class="brand">
      <span class="brand-ticket">Ticket</span
      ><span class="brand-triage">Triage.</span>
    </span>
  </div>
  <nav>
    <a class="side-link" href="/submit">
      <i class="fa-solid fa-pen-to-square"></i>
      <span>SUBMIT A TICKET</span>
    </a>
    <a class="side-link" href="/admin">
      <i class="fa-solid fa-list-check"></i>
      <span>ADMIN REVIEW</span>
    </a>
    <a class="side-link" href="/admin/users">
      <i class="fa-solid fa-users"></i>
      <span>MANAGE USERS</span>
    </a>
  </nav>
  <div class="side-spacer"></div>
  <div class="side-bottom">
    <button class="side-link" id="adminLogout" type="button">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>LOG OUT</span>
    </button>
  </div>
</aside>
