<aside class="sidebar">
  <div class="sidebar-top">
    <button class="menu-toggle" id="menuToggle" type="button">☰</button>
    <span class="brand">
      <span class="brand-ticket">Ticket</span
      ><span class="brand-triage">Triage.</span>
    </span>
  </div>
  <nav>
    <a class="side-link" href="submit-ticket.html">
      <i class="fa-solid fa-pen-to-square"></i>
      <span>SUBMIT A TICKET</span>
    </a>
    <a class="side-link" href="tickets.html">
      <i class="fa-solid fa-ticket"></i>
      <span>VIEW TICKETS</span>
    </a>
  </nav>
  <div class="side-spacer"></div>
  <div class="side-bottom">
    <a class="side-link" href="settings.html">
      <i class="fa-solid fa-gear"></i>
      <span>SETTINGS</span>
    </a>
    <a class="side-link" href="../signin.html">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>LOGOUT</span>
    </a>
  </div>
</aside>
